.form{
    background-color: #404040;
    padding: 20px;
    border-radius: 3px;
}


.lbl_input{
    color: white;
}

.label_error {
    color: red;
}

.alerta_error {
    background-color: white;
    color: red;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    /* font-family:  'Staatliches', cursive; */
    font-family: 'Roboto', sans-serif;
}


.input_date_time{
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
