*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
}

body {
  background-color: #292929;
  color: #ccc;
  font-family: sans-serif;
  min-height: 100%;
  padding-bottom: 5rem;
}


h1, h2  {
  color: white;
 /*  padding: 3rem 0; */
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;  
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  padding: 1.5rem 0;
  font-size: 2em;
}
